---
---

$brand: #aa759f
$header: $brand !default;
$conifer: $brand !default;

@import "{{ site.theme }}";

body {
  line-height: 1.7;
}

li {
  line-height: 1.6 ;
}

ul li {
  list-style-image: initial;
}

pre {
  color: $brand;
}

th {
  border-bottom: 1px dashed $brand;
}

hr {
  border-bottom: 1px dashed $brand;
  color: $brand;
}
